.tabbar{
    background-color: #FFFFFF;
    position: sticky;
    /* top: 300px; */
    /* height: 50px; */
    /* z-index: 4; */
    display: flex;
    flex-direction: row;
    /* margin-top:-380px; */
    text-align: center;
}
.index{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.find{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.shopping{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.ordering{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.my{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}