.shoppingcart {
    background-color: #F6F6F6;
    height: 100vh;
}

.shoppingcart-allshops {
    position: relative;
    width: 702px;
    /* background-color: red; */
    border-radius: 15px;
    left: 25px;
    top: 50px;
}

.spriteselect {
    position: absolute;
    margin-top: 40px;
    width: 38px;
    height: 350px;
    margin-left: 20px;
}

.shoppingcart-header {
    background-color: #FCFCFC;
    display: flex;
    flex-direction: row;
    height: 9vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.shoppingcart-selector {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: 5px solid #CECECE;
    margin-left: 20px;
    margin-top: 35px;
}

.shopname {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.shoppingcart-storename {
    font-size: 32px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 35px;
}

.shoppingcart-arrow {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    margin-top: 40px;
}

.shoppingcart-discount {
    width: 80px;
    height: 36px;
    margin-left: 85px;
    margin-top: 35px;
}

.shoppingcart-divide {
    margin-left: 15px;
    margin-top: 35px;
    color: #C3C3C3;
}

.shoppingcart-clear {
    color: #C3C3C3;
    margin-left: 15px;
    margin-top: 35px;
}

.shoppingcart-down {
    margin-top: 10vh;
    margin-left: 38vw;
    font-size: 32px;
    font-weight: bold;
}

.shoppingcart-site {
    width: 20px;
    height: 24px;
}

.shoppingdown-site {
    margin-left: 20px;
}

.shoppingcart-content {
    background-color: #FFFFFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.shoppingcart-shops1 {
    height: 10vh;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #F5F5F5;
}

.shoppingcart-check1 {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: 5px solid #CECECE;
    margin-left: 20px;
    margin-top: 50px;
}

.content-checked1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.shops1-title {
    color: #333333;
    margin-top: 10px;
}

.numplus1 {
    /* position: relative; */
    /* left: -10px;
    top: 30px; */
    display: flex;
    flex-direction: row;
    margin-left: 320px;
    margin-top: -10px;
}

.shop1-price {
    color: #FF6161;
    position: relative;
    top: 30px;
}

.shop1-nums {
    color: #787878;
    margin-left: 20px;
}

.adaofu {
    width: 100px;
    height: 100px;
    margin-left: 60px;
    margin-top: 30px;
}

.qingyang {
    width: 100px;
    height: 100px;
    margin-left: 60px;
    margin-top: 30px;
}

.shops2-title {
    color: #333333;
    margin-top: 10px;
}

.shop1-position {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}

.shop2-position {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}

.shoppingcart-shops1 {
    height: 13vh;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #F5F5F5;
    font-size: 32px;
}

.shoppingcart-check2 {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: 5px solid #CECECE;
    margin-left: 20px;
    margin-top: 50px;
}

.content-checked2 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.shoppingcart-shops2 {
    height: 13vh;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #F5F5F5;
    font-size: 32px;
}

.shop2-price {
    position: relative;
    top: 30px;
    color: #FF6161;
}

.numplus2 {
    display: flex;
    flex-direction: row;
    margin-left: 320px;
    margin-top: -10px;
}

.shop2-nums {
    margin-left: 20px;
}

.shopadd {
    margin-left: 20px;
}