.tabBar {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 107px;
    width: 100%;
    background-color: #fff;
    z-index: 5;
}

.tab-item {
    flex: 1;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.iconfont {
    font-size: 0.87rem;
    flex: 1;
}