.homeDiscount{
    padding-top: 0.34rem;
    padding-left: 0.29rem;
    padding-right: 0.29rem;
    width: calc(100% - 0.58rem);
    background-color: #85d1fe;
}
.homeDiscount-warpper{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.homeDiscount1{
    flex : 1;
}
.homeDiscount1 img{
    width: 100%;
}